body {
  font-family: "Montserrat", sans-serif !important;
  background: #e5e5e5;
  overflow-x: hidden !important;
}
.navbar {
  margin-top: 122px !important;
}
.banner {
  margin-bottom: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-top: 538px;
  padding-bottom: 72px;
  color: white;
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg");
  border-radius: 52px 52px 0px 0px;
  height: 100%;
}

.slider {
  position: relative;
}
.slider-counter {
  position: absolute;
  bottom: 195px;
  right: 339px;
  text-align: center;
  z-index: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.banner2 {
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/jeff-sheldon-a8K-puaPyVk-unsplash.jpg");
}
.banner3 {
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/refargotohp-do08-18xG8I-unsplash.jpg");
}
.banner4 {
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/jonathan-kemper-OEpC6UQrWQU-unsplash.jpg");
}
.banner5 {
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/sean-choo-YuZ_P2lyJOY-unsplash.jpg");
}
.nav-link {
  color: #ffffff !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.action-btn:hover {
  background: #82ac21;
  color: #ffffff;
}
.tv {
  padding-right: 31px;
}
.tv:hover {
  color: #182951;
}
.btn-banner {
  background: #f9fafd;
  border-radius: 8px;
  width: 190px;
  height: 60px;
  border: none;
  font-size: 16px;
}
.service {
  padding-bottom: 100px;
}
.service-inner {
  transition: all 0.3s ease-in;
  cursor: pointer;
  padding: 72px 32px 44px 32px !important;
  height: 450px;
}
.service-inner:hover {
  background: #ffffff;
  box-shadow: 0px 12px 56px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.service p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #97a4c1;
}
.service h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #94be31;
  padding-bottom: 16px;
}
.service h2 {
  padding-bottom: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #182951;
}
.col-md-4 div {
  padding: 0px 35px;
}
.service .main-icon {
  color: #182951;
  font-size: 50px;
}
.team {
  color: white;
  padding-bottom: 120px;
}
.team h3 {
  padding-bottom: 63px;
}
.video .container {
  background: linear-gradient(rgba(4, 15, 43, 0.5), rgba(4, 15, 43, 0.5)),
    url("/img/markus-winkler-P42Sl1EViZ4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0;
  border-radius: 52px;
}
.team .container {
  background: linear-gradient(rgba(4, 15, 43, 0.5), rgba(4, 15, 43, 0.5)),
    url("/img/annie-spratt-QckxruozjRg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 82px 0;
  border-radius: 52px;
}
.inner-info p,
.inner-video span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.inner-info h3,
.inner-video h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.gallery {
  padding-bottom: 120px;
}
.gallery img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.btn-gallery {
  background: #182951;
  border-radius: 8px;
  height: 60px;
  width: 190px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.btn-gallery:hover {
  background: #233869;
}
.text-part {
  background: #f9fafd;
  width: 50%;
  padding-right: 111px;
  padding-left: 35px;
  padding-top: 83px;
  padding-bottom: 83px;
}
.partynor {
  background: linear-gradient(rgba(4, 15, 43, 0.5), rgba(4, 15, 43, 0.5)),
    url("/img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
  display: table;
  width: 100%;
  margin-bottom: 170px;
}
.partynor h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.partynor span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.partynor-text {
  display: table-cell;
  vertical-align: middle;
}
.img-1 {
  height: 353px;
}
.img-2,
.img-3 {
  margin-top: 16px;
  height: 412px;
}
.img-4 {
  height: 544px;
}
.img-5 {
  height: 221px;
  margin-top: 16px;
}
#cf {
  position: relative;
  height: 360px;
  width: 100%;
}
.cf5 {
  margin-top: 190px !important;
}
#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity: 0;
}
#cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.btn-video {
  background: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
}
.btn-video {
  font-size: 25px;
  color: #182951;
  padding-left: 9px;
}
.video img {
  margin-bottom: 32px;
}
.contact {
  margin-bottom: 120px;
}
.inner-contact {
  background: #ffffff;
  box-shadow: 0px 12px 56px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
}
.nav-link {
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: -0.01em !important;
}
.contact h3,
.news h3,
.sponsors h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #182951;
}
.sponsors h4 {
  height: 54px !important;
}
.sponsors p {
  height: 144px !important;
  padding-top: 8px !important;
}
.star {
  color: red;
}
label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #a4a5a9;
  padding-bottom: 8px;
}
.contact .contact-input {
  transition: all 0.3s ease;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ecf0f9;
  border-radius: 8px;
  padding: 19px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #182951;
}
.contact .btn-gallery {
  margin-bottom: 32px;
}
.contact .img-part {
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/stefan-stefancik-5p_7M5MP2Iw-unsplash.jpg");
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul li {
  list-style: none;
}
footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-decoration: none;
}
ul .footer-link {
  padding-bottom: 24px;
}
footer {
  background: #040f2b;
  padding: 80px;
}
.footer-link {
  text-decoration: none;
  color: #ffffff;
}
.footer-end {
  background: #040f2b;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
  padding: 22px;
}
footer i {
  color: #ffffff;
}
.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding-bottom: 32px !important;
}
.footer-title:hover {
  color: #ffffff;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #9ba6bf;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
ul .footer-other-link {
  padding-bottom: 32px;
}
.football {
  padding-bottom: 170px;
}
.football h3,
.news h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #182951;
}
.sponsor-info {
  background: #ffffff;
  box-shadow: 0px 12px 56px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 16px;
}
.sponsor-info img {
  width: 100%;
  border-radius: 8px;
  height: 175px;
  object-fit: cover;
}
.news-info img {
  width: 100%;
  border-radius: 8px;
  height: 222px;
  object-fit: cover;
}
.sponsor-info h4,
.news-info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: #182951;
  padding-bottom: 8px;
  padding-top: 24px;
}
.news-info h4 {
  padding-bottom: 16px;
  padding-top: 32px;
}
.sponsor-info p,
.news-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828ead;
}
.news-info {
  background: #ffffff;
  box-shadow: 0px 12px 56px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 32px;
}
.news .btn-gallery {
  margin: 32px 0;
}
hr.news-hr {
  margin-bottom: 32px;
  border: 1px solid #ecf0f9;
}
.news .news-span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #182951;
}
.news {
  padding-bottom: 170px;
}
.icon-info {
  display: inline-block;
  padding-top: 90px;
}
.tags {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.tags-part {
  padding: 10px 16px;
  background: #ecf0f9;
  border-radius: 20px;
}
.business {
  background: #f9fafd;
  margin-bottom: 170px;
}
.sponsors {
  padding-bottom: 170px;
}
input,
textarea {
  transition: all 0.3s ease-in !important;
}
input:hover,
textarea:hover {
  border: 1px solid #182951 !important;
}
input:focus,
textarea:focus {
  border: 1px solid #182951 !important;
}
textarea:focus-visible,
input:focus-visible {
  outline: none !important;
}
.business h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #182951;
  padding-bottom: 32px;
}
.business p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #828ead;
  padding-bottom: 64px;
}
.video-part {
  width: 50%;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
  background: linear-gradient(
      0deg,
      rgba(5, 14, 35, 0.7) 0%,
      rgba(5, 14, 35, 0) 51.56%,
      rgba(5, 14, 35, 0) 77.6%,
      rgba(5, 14, 35, 0.7) 100%
    ),
    url("/img/partners.jpeg");
}
.video {
  margin-bottom: 170px;
}
.overlay {
  background: #040f2b;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 2;
}
.upper-buttons {
  text-align: right;
}
.link, .tags-part {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #182951;
}
.tags-part{
  font-weight: 400;
}
.action-btn {
  background: #94be31;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding: 15px 26px 15px 26px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.upper-navbar {
  padding: 24px !important;
}
.upper-info {
  text-align: left;
}
.footer-logo {
  padding-bottom: 68px;
}
ul .footer-info {
  padding-bottom: 28px;
}
.second-part {
  padding-top: 12px;
}
.navbar,
button,
footer a,
footer i {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #828ead;
}
.facebook:hover i {
  color: rgb(66, 66, 233);
}
.instagram:hover i {
  color: rgb(233, 127, 66);
}
.linkedin:hover i {
  color: rgb(129, 191, 230);
}
.youtube:hover i {
  color: rgb(218, 39, 39);
}
.btn-banner:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar.scrolled .nav-link {
  color: #182951 !important;
}
.news-span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #182951;
}
.navbar.scrolled {
  margin-top: 0px !important;
  padding-top: 10px !important;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.input-part {
  padding: 52px 52px 12px 50px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 30px !important;
  padding-left: 0px !important;
}
.service-inner p {
  height: 180px;
}
.black-logo {
  display: none;
  width: 190px;
}
.navbar.scrolled .white-logo {
  display: none;
}
.navbar.scrolled .black-logo {
  display: block;
}
.banner h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding-bottom: 16px;
}
.banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding-bottom: 32px;
}
.upper-navbar {
  z-index: 3333333;
}
.upper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.business {
  display: flex;
  flex-wrap: wrap;
}
.phone {
  border-right: 1.5px #cdd6e9 solid;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 32px;
}
.phone {
  color: #1b263f;
}
.phone:hover {
  color: #1b263f;
}

.more-info {
  opacity: 0;
  padding-right: 140px;
  transition: all 0.3s ease;
  font-size: 17px;
}
.service-inner:hover .more-info {
  opacity: 1;
  padding-right: 0px;
}
.more-info:hover {
  color: #182951;
}
.news .owl-carousel .owl-nav button.owl-next,
.news .owl-carousel .owl-nav button.owl-prev,
.news .owl-carousel button.owl-dot,
.football .owl-carousel .owl-nav button.owl-next,
.football .owl-carousel .owl-nav button.owl-prev,
.football .owl-carousel button.owl-dot {
  color: #182951 !important;
  padding: 0px 27px 3px 27px !important;
  background: #e8e8e9 !important;
  border-radius: 50% !important;
  font-size: 44px !important;
}
.football {
  position: relative;
}
.news .owl-prev,
.football .owl-prev {
  position: absolute;
  bottom: 55%;
  left: -10%;
}
.news .owl-next,
.football .owl-next {
  position: absolute;
  bottom: 55%;
  right: -10%;
}

.banners .owl-theme .owl-dots .owl-dot span {
  width: 82px;
  height: 2px;
  margin: 0px;
  background: #869791 !important;
  transition: opacity 0.2s ease !important;
  border-radius: 0px !important;
}
.banners .owl-theme .owl-dots .owl-dot.active span {
  background: #ffffff !important;
}
.banners .owl-theme .owl-dots .owl-dot span {
  transition: all 0.4s ease !important;
}
.banners .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff !important;
  transform: scaleY(2) !important;
}
.banner-container {
  position: relative;
}
.banners .owl-dots {
  position: absolute;
  right: 400px;
  top: 788px;
}
.sponsors .owl-carousel .owl-nav button.owl-next,
.sponsors .owl-carousel .owl-nav button.owl-prev,
.sponsors .owl-carousel button.owl-dot {
  color: #ffffff !important;
  padding: 0px 27px 3px 27px !important;
  background: #182951 !important;
  border-radius: 0% !important;
  font-size: 44px !important;
}
.sponsors-text {
  position: relative;
}
.sponsors .owl-nav {
  position: absolute;
  bottom: 35%;
  left: -52%;
}
.sponsors-text {
  padding-top: 135px;
}
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-49deg) translate(-4px, 4px) !important;
  transform: rotate(-49deg) translate(-4px, 4px) !important;
}
.change .bar2 {
  opacity: 0 !important;
}
.change .bar3 {
  -webkit-transform: rotate(49deg) translate(-8px, -8px) !important;
  transform: rotate(49deg) translate(-8px, -8px) !important;
}
.app-links {
  display: flex;
  padding: 56px 0;
}
.iphone-logo {
  background-image: url(/img/app-store.svg);
  height: 24px;
  width: 24px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 39px;
  display: inline-block;
  margin-right: 18px;
}
.android-logo {
  background-image: url(/img/play-store.svg);
  height: 24px;
  width: 24px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 39px;
  display: inline-block;
  margin-right: 18px;
}
.iphone-content span,
.android-content span {
  display: block;
}
.app-span {
  font-size: 7px;
  color: #ffffff;
}
.app-span-2 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.iphone-app,
.android-app {
  border: 1px solid #ffffff;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
}
.icons i {
  font-size: 19px;
}
.facebook {
  font-size: 17px;
}
.sponsors h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #182951;
}
.sponsors .owl-stage-outer {
  height: 490px !important;
  padding-top: 30px !important;
}
.football .owl-stage-outer,
.news .owl-stage-outer {
  height: 830px !important;
  padding-top: 30px !important;
}
.nav-link.active {
  font-weight: 700 !important;
}
@media only screen and (max-width: 1600px) {
  .banner {
    padding-top: 300px;
  }
  .banners .owl-dots {
    position: absolute;
    right: 225px;
    top: 550px;
  }
  .news .owl-prev,
  .football .owl-prev {
    position: absolute;
    bottom: 55%;
    left: -6%;
  }
  .news .owl-next,
  .football .owl-next {
    position: absolute;
    bottom: 55%;
    right: -6%;
  }
  .slider-counter {
    position: absolute;
    bottom: 195px;
    right: 172px;
  }
}
@media only screen and (max-width: 990px) {
  .btn-gallery {
    margin-top: 50px;
  }
  .footer-end span {
    font-size: 14px;
  }
  .iphone-app,
  .android-app {
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .slider-counter {
    display: none;
  }
  .owl-dots {
    display: none;
  }
  .sponsors .owl-nav {
    position: absolute;
    bottom: 35%;
    left: -82%;
  }
  #cf {
    height: 240px;
  }
  .cf5 {
    margin-top: 0px !important;
  }
  .upper-navbar {
    display: none;
  }
  .collapse {
    background-color: white !important;
    align-items: flex-start !important;
  }
  .nav-link {
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.229) !important;
    padding: 20px !important;
  }
  .navbar.scrolled .nav-link {
    color: black !important;
  }
  .navbar {
    background-color: white !important;
  }
  .nav-link,
  .online {
    color: black !important;
  }
  .white-logo {
    display: none;
  }
  .black-logo {
    display: block;
  }
  .navbar {
    margin-top: 0px !important;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
  }
  .navbar-toggler {
    border: none !important;
  }
  .banner {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  .banners .owl-theme .owl-dots .owl-dot span {
    width: 50px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 45px !important;
  }
  .banners .owl-dots {
    position: absolute;
    right: 60px;
    top: 560px;
  }
  .inner-info {
    padding: 40px 0;
  }
  .gallery img {
    height: 220px;
  }
  .img-4 {
    margin-top: 16px;
  }
  .gallery {
    padding-bottom: 0px;
  }
  .sponsors-text {
    text-align: center;
    padding-bottom: 30px;
  }
  .news {
    padding-bottom: 0px;
}
  .partynor {
    height: 215px;
  }
  .sponsors-text {
    padding-top: 0px;
  }
  .sponsors {
    padding-bottom: 110px;
  }
  .news-info {
    padding: 10px;
    padding-bottom: 30px;
  }
  .input-part {
    padding: 36px 22px 25px 22px !important;
  }
  footer {
    padding: 50px 30px 0px 0px;
  }
  .footer-logo {
    padding-bottom: 50px;
  }
  .icon-info {
    padding-top: 0px;
  }
  .video-part,
  .text-part {
    width: 100%;
  }
  .text-part {
    padding-right: 30px;
    padding-left: 30px;
  }
  .video-part {
    padding: 90px;
  }
  .video {
    margin-bottom: 110px;
  }
  .inner-video {
    padding: 60px 0;
  }
  .news .owl-nav,
  .football .owl-nav {
    display: none;
  }
  .service-inner p {
    height: 220px;
  }
  .service-inner {
    padding: 40px 32px 44px 32px !important;
    margin-bottom: 30px;
  }
  .inner-info h3,
  .inner-video h3 {
    font-size: 32px;
  }
  .team h3 {
    padding-bottom: 14px;
  }
  .business {
    margin-top: 100px;
  }
  .business p {
    padding-bottom: 20px;
  }
  .text-part {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .football {
    padding-bottom: 0px;
  }
  .contact {
    margin-bottom: 120px;
  }
  .img-2,
  .img-3 {
    margin-top: 0px;
  }
  .video .container {
    padding: 0px 0;
  }
}
